<style>
.main-container {

}

.dashboard-grid {
    display: grid;
    grid-gap: 24px;
    grid-template-columns:repeat(3, 12px);
}
</style>


<div class="main-container">

    <section class="top-section">
        <div class="row">
            <div class="col-5" style="background:#000;">
                <p>teacher-module works!</p>
        
            </div>
        </div>
    </section>

<div class="dashboard-grid">
    <section class="attendence">

    </section>

    <section class="assessment">

    </section>

    <section class="time-table">

    </section>

    <section class="upcoming">

    </section>
</div>
</div>