:root {
    font-size: 16px;

    --font-stack-en: "Noto Sans", "Noto Sans Devanagari", "Noto Sans Tamil",
    "Noto Sans Bengali", "Noto Sans Malayalam", "Noto Sans Gurmukhi",
    "Noto Sans Gujarati", "Noto Sans Telugu", "Noto Sans Kannada",
    "Noto Sans Oriya", "Noto Nastaliq Urdu", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  --font-stack-hi: "Noto Sans Devanagari", "Noto Sans", "Noto Sans Tamil",
    "Noto Sans Bengali", "Noto Sans Malayalam", "Noto Sans Gurmukhi",
    "Noto Sans Gujarati", "Noto Sans Telugu", "Noto Sans Kannada",
    "Noto Sans Oriya", "Noto Nastaliq Urdu", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  --font-stack-ur: "Noto Sans", "Noto Nastaliq Urdu", "Noto Sans Devanagari",
    "Noto Sans Tamil", "Noto Sans Bengali", "Noto Sans Malayalam",
    "Noto Sans Gurmukhi", "Noto Sans Gujarati", "Noto Sans Telugu",
    "Noto Sans Kannada", "Noto Sans Oriya", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
    
    --blue: #010035; // #12279F
    --black: #000000;
    --green: #008840;
    --orange: #e55a28;
    --red: #ff4558;
    --white: #ffffff;
    --black: #000000;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --yellow: #f6c648;
    --teal: #20c997;
    --cyan: #17a2b8;

    --gray-hs: 0, 0%;
    --gray: hsl(var(--gray-hs), 20%);
    --gray-0: hsl(var(--gray-hs), 95%); // place holder active bg #F2F2F2
    --gray-100: hsl(var(--gray-hs), 80%); // disable btn bg, icon color #CCCCCC
    --gray-200: hsl(var(--gray-hs), 60%); // disable text, place holder text #999999
    --gray-400: hsl(var(--gray-hs), 40%); // sub heading #666666
    --gray-800: var(--gray); // text color #333333
  
    --devcon-primary-color: #010035;
    --devcon-secondary-color: #f6c648;
    --devcon-tertiary-color: #e55a28;

    --devcon-base-font-size: 0.875rem;
    --devcon-base-block-space: 0.5rem; //8px,
  }