@import "./inlinefonts/fonts";
@import "./mixins/mixins";
@import "./variables";
// @import "./base/base";

* {
  margin: 0px;
  padding: 0px;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: var(--font-stack-en);
  background-color: #000;
  background: url("/assets/images/bg.jpg") no-repeat center;
  background-size: cover;
  background-repeat: repeat-y;
}
p {
  margin: 0px;
  padding: 0px;
}
section {
  margin: 0px;
  padding: 0px;
}
*[lang="en"] body {
  font-family: var(--font-stack-en);
}

*[lang="hi"] body {
  font-family: var(--font-stack-hi);
}

*[lang="ur"] body {
  font-family: var(--font-stack-ur);
}

.scroll {
  overflow-y: auto;
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 3rem;
  min-height: 5rem;
  flex-wrap:wrap;

  .brand {
    cursor: pointer;
    display: flex;
    align-items: center;

    .page-title {
      font-size:1rem;
      color:var(--secondary-color);
      text-transform: uppercase;
      letter-spacing: 0.25rem;
      margin:0px 1.5rem;
    }
  }

  div.nav {
    ul {
      margin: 0px;
      li {
        display: inline-flex;
        a {
          color: var( --devcon-secondary-color);
          font-size: 1rem;
          text-transform: uppercase;
          letter-spacing: 0.125rem;
          padding: 0.5rem 1rem;
          border-radius: 0.25rem;
          &:hover,
          &:active,
          &.active {
            background: var(--black);
            text-decoration: none;
          }
        }
      }
    }
  }
  .page-title {
    font-size:1rem;
    color:var( --devcon-secondary-color);
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    margin:0px 1.5rem;
  }

  .header-content{
    display: flex;
    color: #fff;
    align-items: center;

    .current-chapter-content{
      display: flex;
      margin: 0 1.5rem;
      align-items: center;

     .current-chapter-text{
      margin: 0 1rem;
      .chapter-separator{
        border-bottom: 1px solid #848484;
        margin: 0.5rem 0;
      }
     }
    }

    .start-btn{
      height: 40px;
    background: #F3CA3F 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    border: none;
    width: 120px;
    font-size: 0.875rem;
    }
  }
  
  [type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
  .date-label {
    display: block;
    color:#848484;
  }
  .date-input {
    border: 0.0625rem solid #DCDCDC;
    border-radius: 4px;
    background-color: #fff;
    padding:4px;
    width: 190px;
    color:#848484;
  }

}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(247, 196, 77,0.8); 
  -webkit-box-shadow: inset 0 0 6px rgba(27, 27, 27, 0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
background:rgba(247, 196, 77,0.4); 
}



/* side bar */
nav {
  position: fixed;
    z-index: 999999;
}
#menuToggle {
  display: block;
  position: relative;
  top: 1.75rem;
  left: 0.75rem;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  padding: 1rem;
  letter-spacing: 0.25rem;
  border-bottom:1px solid #c38f06;
  transition: color 0.3s ease;
  display: block;
  letter-spacing: 0.125rem;
    text-transform: uppercase;
}

#menuToggle a:hover, #menuToggle a.active{
  background-color:#c38f06;
  color:var(--white);
}

#menuToggle input.hamburger-input {
  display: block;
  width: 2.5rem;
  height: 2rem;
  position: absolute;
  top: -0.4375rem;
  left: -0.3125rem;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 1.5rem;
  height: 0.125rem;
  margin-bottom: 0.25rem;
  position: relative;
  background: #cdcdcd;
  border-radius: 0.125rem;
    z-index: 1;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input.hamburger-input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input.hamburger-input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input.hamburger-input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 18.75rem;
  margin:-3.25rem 0 0 -1rem;
  padding: 2rem;
  padding-top: 5rem;

  background:var( --devcon-secondary-color);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  
}

/*
 * And let's slide it in from the left
 */
#menuToggle input.hamburger-input:checked ~ ul {
  transform: none;
}
