@import "./inlinefonts/fonts";
@import "./mixins/mixins";
@import "./variables";
// @import "./base/base";

* {
  margin: 0px;
  padding: 0px;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: var(--font-stack-en);
  background-color: #000;
  background: url("/assets/images/bg.jpg") no-repeat center;
  background-size: cover;
}
p {
  margin: 0px;
  padding: 0px;
}
section {
  margin: 0px;
  padding: 0px;
}
*[lang="en"] body {
  font-family: var(--font-stack-en);
}

*[lang="hi"] body {
  font-family: var(--font-stack-hi);
}

*[lang="ur"] body {
  font-family: var(--font-stack-ur);
}