
<app-teacher-side-menu></app-teacher-side-menu>
<div class="staff-list"  >
    <section class="header">
        <div class="brand">
            <img src="../../../assets/images/logo.jpg" alt="" title="" width="180" />
        </div>
        <div class="page-title">Staff Room</div>
    </section>
    <div class="staff-grid scroll" [@cardAnimation]="teacherList.length">
        <section class="staff-grid-item"  [ngClass]="{'selected': teacher.selected}" *ngFor="let teacher of teacherList" (click)="toogleSelected(teacher)" #item>
            <div class="section-in-area">
                <div class="img-container">
                    <img [src]="teacher.image" (error)="profilePic.src = defaultProfileImg" #profilePic>
                </div>
                <h4>{{teacher.name}}</h4>
                <div class="subjects-section">
                    <span class="subject-pill" *ngFor="let sub of teacher?.subjects">
                        {{sub}}
                    </span>
                </div>
            </div>
        </section>
        <div [@appearDown]>
            <app-dashboard-panel>
                <h4>Christopher </h4>
                <div class="content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero pariatur
                    corporis quaerat voluptatum eos tempora temporibus nisi voluptates
                    sed, exercitationem sequi dolore culpa incidunt accusamus, quasi unde
                    reprehenderit ea molestias.
                </div>
            </app-dashboard-panel>
        </div>
    </div>
</div>